@import 'assests/sass/variables';

.edit-appbar-cois {
    position: relative !important;
    background-color: white !important;

    .MuiToolbar-root {
        min-height: 66px;
    }

    .arrow-icon {
        font-size: 2rem;
        color: #585858;
        opacity: .87;

    }

    .appbar-header {
        font-size: 1.25rem !important;
        font-family: 'Roboto-medium';
        color: #585858;
        margin-left: 4px;
        opacity: .87;
    }
}

.coi-edit-wrapper {
    padding: 1.6rem;
    padding-left: 11px;

    .edit-header {
        font-family: 'Roboto-medium';
        font-style: normal;
        font-size: 1.25rem;
        line-height: 1.5rem;
        letter-spacing: .15px;
        color: #212121;
        mix-blend-mode: normal;
        opacity: .87;
        margin-bottom: 1rem;
    }

    .sub-header {
        width: 100%;
        margin-top: 1.6rem;
        margin-bottom: 24px;
        font-family: 'Roboto-medium';
        font-style: normal;
        font-size: 1.25rem;
        line-height: 1.5rem;
        letter-spacing: .15px;
        color: #212121;
        mix-blend-mode: normal;
        opacity: .87;
        margin-bottom: 1rem;
    }

    .inner-sub-header {
        width: 100%;
        margin-bottom: 24px;
        font-family: 'Roboto-medium';
        font-style: normal;
        font-size: 1.1rem;
        line-height: 1.5rem;
        letter-spacing: .15px;
        color: #212121;
        mix-blend-mode: normal;
        opacity: .87;
        margin-bottom: 1rem;
    }

    .scroll-form {
        width: 100%;
        height: 700px;
        overflow-x: hidden;
        overflow-y: auto;
        border: 1.4px solid #E2E2E1;
        border-radius: 8px;
        position: relative;

        .top-divider {
            margin-top: 2.49rem;
            color: #E2E2E1;
            height: 1.2px;
            opacity: 0.6;
        }

        .divider {
            color: #E2E2E1;
            height: 1.2px;
            opacity: 0.6;
        }

        .header-check-box {
            position: absolute;
            top: -9px;
            left: 3px;

            p {
                opacity: .87;
                font-family: 'Roboto';
                font-size: 14px;
                color: #212121;
                letter-spacing: .1px;
                position: absolute;
                top: 19px;
                width: 5rem;
                left: 2.6rem;
            }
        }
    }

    .checkbox-header {
        display: flex;
        align-items: center;
        padding-left: 4px;


        p {
            margin-left: -1.4rem;
            color: #12161B;
            font-size: 1.125rem;
            font-family: 'Roboto';
        }

    }

    .general-container {
        padding-left: 44px;
        padding-right: 10px;

        .aditional-insured {
            display: flex;
            align-items: center;

            .radio-button-label {
                color: #12161B;
                font-family: 'Roboto-Medium';
                font-size: 1.125rem;
                margin-top: 0.5rem;
            }

            p {
                margin-left: -1.4rem;
                color: #12161B;
                font-size: 1rem;
                font-family: 'Roboto';
            }

        }

        .toggle-button {
            font-family: 'Roboto-medium';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            letter-spacing: .1px;
            color: #00cfa1;
            cursor: pointer;
            margin: 1.5rem 0 1.4rem 0.2rem;

            &:hover {
                opacity: .76;
                text-decoration: underline;

            }
        }
    }
}



.pdf-dialog-edit-form {
    .rpv-core__inner-page {
        display: flex;
        justify-content: center;
        background-color: transparent !important;
        margin-bottom: 4rem;
    }

    .rpv-core__inner-pages {
        margin-bottom: 5rem !important;
    }


    .zoom-btn-out {
        position: fixed;
        z-index: 333;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.6) !important;
        border-radius: 7px;
        padding: .4rem .7rem .6rem;
        color: white;
        font-size: 18px;
        margin-bottom: 1.5rem;
        height: 40px;
        left: 2%;
    }

    .zoom-btn-in {
        position: fixed;
        height: 40px;
        z-index: 333;
        background-color: rgba(0, 0, 0, 0.6) !important;
        border-radius: 7px;
        color: white;
        font-size: 18px;
        padding: .4rem .6rem .6rem;
        margin-bottom: 1.5rem;
        left: 5%;

    }

    .zoom-container {

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px;
    }




    .MuiPaper-root {
        background-color: rgba(0, 0, 0, .60) !important;
        margin-top: 96px;
    }

    .pdf-container {

        @media (max-width: 1100px) {}

        .close-btn {
            left: 0;
            top: 0;
            position: fixed;
            padding-bottom: 16px;
            display: flex;
            z-index: 222222;
            background-color: rgba(0, 0, 0, 0.6) !important;
            width: 100%;
            padding-left: 16px;
            padding-top: 8px;

            @media screen and (max-width: 992px) {
                padding-bottom: 19px;
            }
        }

        p {
            color: #E5E5E5;
            padding-left: .6rem;
        }
    }
}